<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="codebar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <codebar.Properties.Settings>
            <setting name="top_identure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="left_identure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="right_identure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bottom_identure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hor_betw_col" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vert_betw_rows" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="high" serializeAs="String">
                <value>0</value>
            </setting>
        </codebar.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
